div.help-content {
    position: absolute;
    border: 1px solid #BBBBBB;
    background-color: #FFFFFF;
    visibility: hidden;
    font-size: 11px;
}

div.success-notification, div.failure-notification {
    position: absolute;
    border: 1px solid #cecece;
    padding-top:10px;
    width: 600px;
    height: 50px;
	left: 33.3%;
    text-align: center;    
    visibility: hidden;
    z-index: 9999;
}

div.success-notification {
    background-color: #f7fff7;
}

div.failure-notification {
    background-color: #ffc7c7;
}

.spinner {
    position: absolute;
    margin: 0px;
    text-align: center;
    align-items: center;
    background-color: #F8F8F8;
    width: 100%;
    height: 100%;
    overflow: hidden;
    opacity: 0.7;
    z-index: 9999;
}

table.popup-type {
	margin-top: 15px;
	border-collapse: collapse;
	border: 1px solid #DDDDDD;
    white-space: normal;
    line-height: normal;
    font-weight: normal;
    font-size: 12px;
    color: -internal-quirk-inherit;
    text-align: start;
    font-variant: normal normal;
}

tr.popup-type-header {
	transition: background 0.2s ease-in;
	font-color: #2C3539;
	font-weight: bold;
	background: #DBEEF4;
}


tr.popup-type {
	transition: background 0.2s ease-in;
	font-color: #2C3539;
	font-weight: normal;
	background: #FFFFFF;
}

tr.popup-type:hover {
  background-color: #FFFBEC;
}

td.popup-type {
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 15px;
}

#CPWD {
	width:450px;  /* adjust as per your needs */
	height:375px;   /* adjust as per your needs */
	margin-left:-225px;   /* negative half of width above */
	margin-top:-225px;
	visibility: 'hidden';
    display: none;
}

#opaque {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    z-index: 99;
    visibility: 'hidden';
    display: none;
    background-color: black;
    filter: alpha(opacity=30);
    opacity: 0.3;
}

* html #opaque {
    position: absolute;
}

.popup {
	position:absolute;
	top:50%;
	left:50%;
    z-index: 100;
    opacity:1;
	background-color:#FFFFFF;
	border: #DDDDDD;
	border-width: thin;
	border-style: solid;
	padding: 0px;
}

.popup-heading1, .popup-heading2, .popup-heading2, .popup-label, .popup-text {
    text-align: left;
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: bold;
}

.popup-heading1 {
	padding: 5px 5px;
    font-size: 20px;
    font-weight: bold;
    color: #000000;
}

.popup-heading2 {
	padding: 0px 5px;
	font-size: 18px;
    font-weight: bold;
    color: #7F7F7F;
}

.popup-heading3 {
	padding: 0px 5px;
	font-size: 14px;
    font-weight: bold;
    color: #6ca7b5;
}

.popup-label {
	padding: 20px 10px 5px;
	font-size: 12px;
    font-weight: normal;
    color: #777777;
}

.popup-label {
	padding: 20px 10px 5px;
	font-size: 12px;
    font-weight: normal;
    color: #333333;
}

.menu-header, .menu-footer {
	height: 30px;
	width: 100%;
	padding-right:5px;
	padding-top:8px;
	font-size:12px;
	border-top-width: 0px;
	border-left-width: 0px;
	border-right-width: 0px;
	border-bottom-width: 0px;
}

.menu-header {
	padding-left:10px;
	background-color: #F2F2F2;
}

.menu-footer {
	padding-left:15px;
	background-color: #FFFFFF;
}


div.more-actions-content {
    text-align:left;
    width: 125px;
    position: absolute;
    border: 1px solid #BBBBBB;
    border-top: 0px #FFFFFF;
    background-color: #FFFFFF;
    visibility: hidden;
    box-shadow: 0 4px 8px 0 rgba(100, 100, 100, 0.2), 0 2px 20px 0 rgba(100, 100, 100, 0.19);
    z-index: 999;
}

div.more-actions-option {
	height: 30px;
	padding-left:5px;
	padding-right:5px;
	padding-top:5px;
	font-size:12px;
}

div.more-actions-option:hover {
	background-color: #F0FCFF;
}

.tiny-triangle-up {
	width: 0;
	height: 0;
	border-left: 10px solid transparent;
	border-right: 10px solid transparent;
	border-top: 10px solid transparent;
	border-bottom: 10px solid #ffffff;
	margin: auto;
	margin-top:-20px;
	visibility:hidden;
}

.wordwrap { 
   white-space: pre-wrap;      /* CSS3 */   
   white-space: -moz-pre-wrap; /* Firefox */    
   white-space: -pre-wrap;     /* Opera <7 */   
   white-space: -o-pre-wrap;   /* Opera 7 */    
   word-wrap: break-word;      /* IE */
}



