.marketing-text, .exhorting-text, .heading-text {
    text-align: left;
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
}

.wsheading-text {
	font-size: 48px;
}

.ws-subheading-text {
	font-size: 36px;
}

.wsmarketing-text {
    font-size: 24px;
}

.wspitch-text {
    font-size: 18px;
}

.ws-callToAction {
	height: 30px;
	width: 200px;
	background-color: #0082A2;
	font-size: 16px;
	color: #FFF;
	font-weight: normal;
	text-align: center;
	line-height: 30px;
}


.wsform-heading-text {
	font-family: 'Open Sans', sans-serif;
    font-size: 16px;
	font-style: normal;
}

.wsform-heading-text, .wsform-sub-text {
	color: #444444;
}

.wsform-sub-text {
	font-size: 14px;
}

a {
    text-decoration: none;
    font-family: 'Open Sans', sans-serif;
}

a.wslogin-link {
	font-size: 14px;
}

a.wslogin-link:hover, a.wslogin-link:active, a.wslogin-link:visited {
	color: #0070C0;
}


.wsfield-label {
	font-family: 'Open Sans', sans-serif;
    font-size: 13px;
    font-weight: normal;
	color: #888888;
}
    
.dot {
    height: 25px;
    width: 25px;
    background-color: #FFC000;
    border-radius: 50%;
    display: inline-block;
    vertical-align: text-bottom;
}

#peek {
    height           : 100%;
    width            : 400px;
    float            : right;
    position         : relative;
    left             : 360px;
    background-color : pink;
}